@use "../variables" as *;

.game {
  display: grid;
  grid-template-rows: 5.2rem repeat(3, 14rem) 7.2rem;
  grid-template-columns: repeat(3, 14rem);
  width: 46rem;
  gap: 2rem;
  &__logo {
    align-self: center;
  }
  &__turn-tile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-bg-sec;
    > img {
      display: block;
      width: 2rem;
      margin-right: 0.8rem;
    }
    > p {
      font-size: 1.6rem;
      font-weight: 700;
      color: $color-white-dark-acc;
    }
  }
  &__reset-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 232, 237);
    width: 5.2rem;
    justify-self: right;
    img {
      display: block;
      width: 2rem;
      top: 0;
    }
  }
  &__field {
    background-color: $color-bg-sec;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__marker {
    display: none;
    width: 6.4rem;
    pointer-events: none;
    user-select: none;
  }
  &__score-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $color-bg-main;
    &--x {
      background-color: $color-cyan-dark-acc;
    }
    &--o {
      background-color: $color-yellow-dark-acc;
    }
    &--tie {
      background-color: $color-white-dark-acc;
    }
  }
  &__score-text {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
  }
  &__score-counter {
    font-size: 2.4rem;
    font-weight: 700;
  }
}
